* {
	font-size: 1em;
	font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body{
	background:black;
	color: white;
}

form {
	padding-top: 2em;
}

.admin-row {
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 0.5em;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.no-decoration{
	text-decoration:none;
	margin-top: 2em;
}
.no-decoration:not(:last-child) {
	margin-right: 1em;
}

.column {
	height: 100%;
	box-sizing: border-box;
	width: 33%;
	margin: 0.25em;
}
input[type=text]{
	width: 40%;
	text-align:center;
}
input[type=file] {
	display: none;
}